  <div>
    <nav>
      <a href="/" id="home" class="home">Home</a>
     <a id="logOut" class="logOut" href="/">Log Out</a>
    </nav>
  </div>
 <div class="db-content"> 
  <div>
    <h1 id="dash-header"><i>Portfolio</i></h1>
    {{!-- <h1 id="dash-header"><i>Stock Portfolio of:</i></h1>
    <h1><b>{{req.session.firstName}}{{req.session.lastName}}</user></b></h1> --}}
  </div>

  <div>
    <a class="addBtn" href="/addNew">Add New Stock</a>
  </div>

  <table style="width:100%">
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Shares</th>
      <th>Total Cost</th>
      <th>Current Price</th>
      {{!-- <th>Total Value</th> --}}
    </tr>
    {{!-- loop to add all user associated stocks --}}
    {{#each userStocks}}
    <tr>
      <td><a class="companyName" id="editForm onclick="openForm()" >{{name}}</a></td>
      <td>{{ticker}}</td>
      <td>{{shares}}</td>
      <td>${{cost}}</td>
      <td>${{current_price}}</td>
    </tr>
    {{/each}}
  </table>  
  <div>
    <canvas id = 'myChart'></canvas>
  </div>
</div>
{{!-- need to set display none for id to make the open form work, position center relative --}}
      <form id="editForm" >
        <div>
            <h1>=-=-=-=- TEST -=-=-=-=</h1>>
        </div>
        {{!-- close button would revert back to display none --}}
        <button type="submit" onclick="closeForm()">Submit</button>
        {{!-- create edit and delete buttons  --}}
        {{!--edit button to pull stocks and provide edit options  --}}
        {{!-- delete button will delete the stock from user stock database (or cancel the stock association down the road) --}}
      </form>
</div>
<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/logout.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --}}


